a
    {
        text-decoration: none;
        color:rgb(158, 0, 179);
    }

    /* Pseudo-class sur les liens: est utilisée pour définir un état spécial d'un élément. elle est utilisée pour:
    Style d'un élément lorsqu'un utilisateur souris dessus
    Style visité et liens non visités différemment
    Style un élément quand il se concentre.
    selector:pseudo-class {property: value;}
    Note : a:hoverDOIT venir après a:linket a:visited

 */
a:visited
    {
        color: brown;
    }
a:hover
/* Au survol, le pseudo-class :hover désigne un objet survolé par le curseur de la souris, et ça peut etre un lien ou autre élément HTML */
    {
        background-color: rgb(255, 125, 255);
    }
